<h1>Listing potlucks</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Item</th>
    <th>Guest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @potlucks.each do |potluck| %>
  <tr>
    <td><%= potluck.event_id %></td>
    <td><%= potluck.item %></td>
    <td><%= potluck.guest_id %></td>
    <td><%= link_to 'Show', potluck %></td>
    <td><%= link_to 'Edit', edit_potluck_path(potluck) %></td>
    <td><%= link_to 'Destroy', potluck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Potluck', new_potluck_path %>
