<%= stylesheet_link_tag 'design' %>
<%= session[:letin] =""%>
<% if params[:guestEmail] != nil%>
  <% session[:help] = params[:guestEmail] %>
<% end %>

<% @guests.each do |guest| %>
  <% if guest.email == session[:help] && guest.event_id == @event.id %>
    <% @saveGuest = guest %>

<div id="container">
  <div id="navigation">
    <ul>
      <li><a href="/home">My Home</a></li>
      <li><a href="/users/new">Register</a></li>
      <% if current_user %>
       <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
       <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </div>
  <br>
  <div id="header", style="text-align: center;">
    <h1> <%= @event.title %> </h1>
  </div>
  </br>

  <div id="description">
     <i><%= @event.description %></i>
  </div>


<div id="wrapper" >
  <div id="tabContainer">
    <div class="tabs">
      <ul>
        <li id="tabHeader_1">Basic Event Info</li>
        <li id="tabHeader_2">Guest List</li>
        <li id="tabHeader_3">Pot Luck</li>
        <li id="tabHeader_4">Map</li>
      </ul>
    </div>
    <div class="tabscontent">
      <div class="tabpage" id="tabpage_1">
        <h2>Basic Guest Info</h2>
        <p>
          <b>Hostname:</b>
          <%= @event.hostName %>
        </p>
        <p>
          <b>Type:</b>
          <%= @event.eventType %>
        </p>
        <p>
          <b>Phone Number:</b>
          <%= @event.phoneNum %>
        </p>
        <p>
          <b>Date and Time:</b>
          <%= @event.date %> at <%= @event.time %>
        </p>    
      </div>
      <div class="tabpage" id="tabpage_2">
        <h2>Guest List</h2>
        <table> 
          <tr>
            <td style="float:left; width:50%;">
              <p>
                <b> Comments: </b>
                <div id="textBox" style="overflow:scroll; height:200px; width:100%; overflow-x:hidden;">
                  <% @event.comments.each do |comment| %>
                    <%= comment.commenter %><br/>
                    <dd> -<%= comment.body %> </dd> 
                    <br/>
                    <% end %>
                </div>
                <br>
                <%= form_for([@event, @event.comments.build]) do |f| %>
                  <div class ="field" > 
                    <%= f.text_field :commenter, :hidden=>true, :value => session[:help]  %>
                  </div>
                  <div class ="field" > 
                    <%= f.label "Comment:" %><br/>
                    <%= f.text_area :body,  :placeholder => "Add a comment to talk to the other guests!", :rows => "5" %>
                  </div>
                  <div class="actions">
                    <%= f.submit %>
                  </div>
                <% end %>
              </p>
            </td>
            <td valign="top" style="float:right">
                  <%= form_for (@saveGuest) do |a| %>
                  <b> Respond: </b><br/>
                  <% if @event.rsvp_choices == "Yes, No" %>
                    <div class="field">
                      <%= a.radio_button :rsvp, "Yes" %>
                      <%= a.label "Yes" %> <br/>
                      <%= a.radio_button :rsvp, "No" %>
                      <%= a.label "No" %><br/>
                    </div>
                  <% else %>
                    <div class="field">
                      <%= a.radio_button :rsvp, "Yes" %>
                      <%= a.label "Yes" %> <br/>
                      <%= a.radio_button :rsvp, "No" %>
                      <%= a.label "No" %><br/>
                      <%= a.radio_button :rsvp, "Maybe" %>
                      <%= a.label "Maybe" %> <br/>
                      </div>
                    <% end %> <!-- close else part -->
                    <div class="actions">
                      <%= a.submit %>
                    </div>
                  <% end %> <!-- close if rsvp choices-->
                    <% end %> <!-- close for for @saveGuest-->
              <% end %>
              <% if @event.guestlist_privacy == false %>
                <b> Guests Invited: </b> <br/>
                <% @guests.each do |guest| %>
                  <% if guest.event_id == @event.id %>
                    <%= guest.email %> Coming? <%= guest.rsvp %><br/>
                  <% end %>
                <% end %>
              <%end%>
            </td>
          </tr>
        </table>
      </div>
      <div class="tabpage" id="tabpage_3">
        <h2>Pot Luck</h2>
        <br>
        <table>
          <tr>
            <td>
              <% session[:help] %>
              <b> Select an Item to Bring: </b> <br>
                <% @potluck.each do |pl| %>
                  <%= form_for (pl) do |p| %>
                     <% if pl.event_id == @event.id &&  pl.guest_id == 0 %> 
                          <%= p.label pl.item %>           
                          <%= p.submit :value => 'Bring me' %>
                          <%= p.number_field :guest_id, :value =>@saveGuest.id, :style => 'visibility: hidden'%> <br />

                     <% end %>
                  <% end %>
              <% end %>
            </td>
            <td valign="top">
              <b> What Other People are Bringing: </b> <br>
                <% @potluck.each do |pl| %>
                  <% if pl.event_id == @event.id && pl.guest_id != 0 %> 
                      <% @guests.each do |g| %>
                        <% if pl.guest_id == g.id %>
                          <i> <%= g.email %> </i>
                        <% end %>
                      <% end %>


                    is bringing   <i>  <%= pl.item %></i> <br>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </table>
          </div>
      <div class="tabpage" id="tabpage_4">
        <h2>Where At?</h2>
        <p>
          <b>Location:</b>
          <%= @event.location %>
        </p>
        <p>
          <b>Address:</b>
          <%= @event.address %>,   <%= @event.city %>,   <%= @event.state %>,  <%= @event.zip %>
        </p>
        <% @locations = Location.all %>
        <% @locations.each do |loc| %>
         <% if(loc.event_id == @event.id) %>
            <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{loc.latitude}%2C#{loc.longitude}" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% if @event.image_file_name != nil%>
  <div id="image" style="text-align: center">
        <%= image_tag @event.image.url %>
  </div>
<% end %>
</div>
<script src="tabs.js"></script>



 