<%= stylesheet_link_tag 'design' %>
<%= form_tag user_sessions_path, :method => :post do %>
 
<div id="container">

    <div id="navigation">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="users/new">Register</a></li>
      </ul>
    </div>
  <br>
  <div id="header">
    <h1>
      Login
    </h1>
  </div> 
  
  <div class="field"><br/>
    <%= label_tag :username %><br />
    <%= text_field_tag :username %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>

<% end %>
</div>